.food__posts{
    max-width: 1200px;
    width: 80%;
    margin: auto;
    background-color: white;
    .header__container{
       padding-top: 5rem;
        text-align: center;   
    }
    .list{
        margin-top: 3.5rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

@media (max-width: 576px) {
    .food__posts{
        width: 100%;
        padding: auto 2rem;
    }
  }



  