.title h2.header {
  font-family: "Droid Serif", serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.8rem;
  color: #2d2d2e;
  line-height: 1.2;
  margin: 10px auto;
}

.title h3.header {
  color: #1ec0ff;
  font-family: "Great Vibes", cursive;
  font-size: 1.5rem;
  text-align: center;
  margin: 0.625rem 0px;
}
