.food__post{
    text-align: center;
    margin: auto;
    img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        box-shadow: 1px 1px 1px rgba(0,0,0,.1);
        &:hover{
            transform: scale(1.1);
            box-shadow: 1px 1px 1px rgba(0,0,0,.2);
        }
    }
    h4{
        font-size: .9rem;
        font-family: "Droid Serif", serif !important;
        margin: .8rem auto 2.5rem;
        text-align: center;
        color: rgba(0,0,0,.95);
    }
}